//White color group
._bg-white{
    background-color: #FFFFFF !important;
}

._bg-white-smoke{
    background-color: #F5F5F5 !important;
}

._bg-white-smoke-f8f8f8{
    background-color: #F8F8F8 !important;
}

//Black color group
._bg-black{
    background-color: #000000 !important; 
}

._bg-black-080808{
    background-color: #080808 !important; 
}

._bg-black-101010{
    background-color: #101010 !important; 
}

._bg-black-181818{
    background-color: #181818 !important; 
}

._bg-black-202020{
    background-color: #202020 !important; 
}

._bg-black-282828{
    background-color: #282828 !important; 
}

._bg-black-303030{
    background-color: #303030 !important; 
}

._bg-black-383838{
    background-color: #383838 !important; 
} 

._bg-black-404040{
    background-color: #404040 !important; 
}

._bg-black-484848{
    background-color: #484848 !important; 
}

._bg-black-505050{
    background-color: #505050 !important; 
}

._bg-black-585858{
    background-color: #585858 !important; 
}

._bg-black-606060{
    background-color: #606060 !important; 
}

._bg-black-686868{
    background-color: #686868 !important; 
}

._bg-black-696969{
    background-color: #696969 !important; 
}

._bg-black-707070{
    background-color: #707070 !important; 
}

._bg-black-787878{
    background-color: #787878 !important; 
}


//Gray color group
._bg-gray{
    background-color: #808080 !important; 
}

._bg-gray-888888{
    background-color: #888888 !important; 
}

._bg-gray-909090{
    background-color: #909090 !important; 
}

._bg-gray-989898{
    background-color: #989898 !important; 
}

._bg-gray-A0A0A0{
    background-color: #A0A0A0 !important; 
}

._bg-gray-A8A8A8{
    background-color: #A8A8A8 !important; 
} 

//Drak gray color group

._bg-drak-gray{
    background-color: #A9A9A9 !important; 
} 

._bg-drak-gray-B0B0B0{
    background-color: #B0B0B0 !important; 
} 

._bg-drak-gray-B8B8B8{
    background-color: #B8B8B8 !important; 
}  