@each $a-safe-color in $web-safe-colors {
  //$i: index($webSafeColors, $aSafeColor);
  //{str_slice($aSafeColor + '', 2, str_length($aSafeColor + ''))}
  ._bg-wsc-#{$a-safe-color} {
    background-color: #{'#'}#{$a-safe-color} !important;
  }
}

@each $key, $value in $colors {
  ._bg-#{$key + ''} {
    background-color: #{$value} !important;
  }

  ._hover-bg-#{$key + ''}:hover {
    background-color: #{$value} !important;
  }
}


