._border-style-dotted {
  border-style: dotted;
}

._border-style-dashed {
  border-style: dashed;
}

._border-style-solid {
  border-style: solid;
}

._border-style-double {
  border-style: double;
}

._border-style-groove {
  border-style: groove;
}

._border-style-ridge {
  border-style: ridge;
}

._border-style-inset {
  border-style: inset;
}

._border-style-outset {
  border-style: outset;
}

._border-style-none {
  border-style: none;
}

._border-style-hidden {
  border-style: hidden;
}

//Border radius
@for $i from 0 through 50 {
  ._border-radius-#{$i}px {
    border-radius: #{$i}px !important;
  }

  ._border-top-left-radius-#{$i}px {
    border-top-left-radius: #{$i}px !important;
  }

  ._border-top-right-radius-#{$i}px {
    border-top-right-radius: #{$i}px !important;
  }

  ._border-bottom-left-radius-#{$i}px {
    border-bottom-left-radius: #{$i}px !important;
  }

  ._border-bottom-right-radius-#{$i}px {
    border-bottom-right-radius: #{$i}px !important;
  }
}

//Border width
@for $i from 0 through 50 {
  ._border-width-#{$i}px {
     border-width: #{$i}px !important;
  }

  ._border-top-width-#{$i}px {
    border-top-width: #{$i}px !important;
  }

  ._border-bottom-width-#{$i}px {
    border-bottom-width: #{$i}px !important;
  }

  ._border-left-width-#{$i}px {
    border-left-width: #{$i}px !important;
  }

  ._border-right-width-#{$i}px {
    border-right-width: #{$i}px !important;
  }
}

//border-color
@each $key, $value in $colors {
  ._border-color-#{$key + ''} {
    border-color: #{$value} !important;
  }

  ._hover_border-color-#{$key + ''}:hover {
    border-color: #{$value} !important;
  }

  ._border-bottom-color-#{$key + ''} {
    border-bottom-color: #{$value} !important;
  }

  ._border-top-color-#{$key + ''} {
    border-top-color: #{$value} !important;
  }

  ._border-left-color-#{$key + ''} {
    border-left-color: #{$value} !important;
  }

  ._border-right-color-#{$key + ''} {
    border-right-color: #{$value} !important;
  }
}