._border-style-dotted {
  border-style: dotted;
}

._border-style-dashed {
  border-style: dashed;
}

._border-style-solid {
  border-style: solid;
}

._border-style-double {
  border-style: double;
}

._border-style-groove {
  border-style: groove;
}

._border-style-ridge {
  border-style: ridge;
}

._border-style-inset {
  border-style: inset;
}

._border-style-outset {
  border-style: outset;
}

._border-style-none {
  border-style: none;
}

._border-style-hidden {
  border-style: hidden;
}

._border-width-0px {
  border-width: 0px;
}

//border-color
@each $key, $value in $colors {
  ._border-color-#{$key + ''} {
    border-color: #{$value} !important;
  }

  ._border-bottom-color-#{$key + ''} {
    border-bottom-color: #{$value} !important;
  }

  ._border-top-color-#{$key + ''} {
    border-top-color: #{$value} !important;
  }

  ._border-left-color-#{$key + ''} {
    border-left-color: #{$value} !important;
  }

  ._border-right-color-#{$key + ''} {
    border-right-color: #{$value} !important;
  }
}