//White color group
._text-white{
  color: #FFFFFF !important;
}

._text-white-smoke{
  color: #F5F5F5 !important;
}

._text-white-smoke-f8f8f8{
  color: #F8F8F8 !important;
}

//Black color group
._text-black{
  color: #000000 !important;
}

._text-black-080808{
  color: #080808 !important;
}

._text-black-101010{
  color: #101010 !important;
}

._text-black-181818{
  color: #181818 !important;
}

._text-black-202020{
  color: #202020 !important;
}

._text-black-282828{
  color: #282828 !important;
}

._text-black-303030{
  color: #303030 !important;
}

._text-black-383838{
  color: #383838 !important;
}

._text-black-404040{
  color: #404040 !important;
}

._text-black-484848{
  color: #484848 !important;
}

._text-black-505050{
  color: #505050 !important;
}

._text-black-585858{
  color: #585858 !important;
}

._text-black-606060{
  color: #606060 !important;
}

._text-black-686868{
  color: #686868 !important;
}

._text-black-696969{
  color: #696969 !important;
}

._text-black-707070{
  color: #707070 !important;
}

._text-black-787878{
  color: #787878 !important;
}


//Gray color group
._text-gray{
  color: #808080 !important;
}

._text-gray-888888{
  color: #888888 !important;
}

._text-gray-909090{
  color: #909090 !important;
}

._text-gray-989898{
  color: #989898 !important;
}

._text-gray-A0A0A0{
  color: #A0A0A0 !important;
}

._text-gray-A8A8A8{
  color: #A8A8A8 !important;
}

//Drak gray color group

._text-drak-gray{
  color: #A9A9A9 !important;
}

._text-drak-gray-B0B0B0{
  color: #B0B0B0 !important;
}

._text-drak-gray-B8B8B8{
  color: #B8B8B8 !important;
}  