@each $key, $value in $screens {
  @media (min-width: $value) {
    $i: 0;
    @while $i < 10.1 {
      ._f-#{$key}#{str-replace($i + '', '.', '_')}rem {
        font-size: #{$i}rem !important;
      }

      /*._f-#{$key}#{str-replace($i + '', '.', '_')}pt {
        font-size: #{$i}pt !important;
      }

      ._f-#{$key}#{str-replace($i + '', '.', '_')}em {
        font-size: #{$i}em !important;
      }*/

      $i: $i + 0.1;
    }
  }
}

