/******************************** Margin ********************************/
@each $key, $value in $screens {
  @media (min-width: $value) {
    @for $i from 0 through 100 {
      ._mt-#{$key}#{$i}px {
        margin-top: #{$i}px !important;
      }

      ._mb-#{$key}#{$i}px {
        margin-bottom: #{$i}px !important;
      }

      ._mr-#{$key}#{$i}px {
        margin-right: #{$i}px !important;
      }

      ._ml-#{$key}#{$i}px {
        margin-left: #{$i}px !important;
      }
    }
  }
}
