/******************************** Pading ********************************/
@each $key, $value in $screens {
  @media (min-width: $value) {
    @for $i from 0 through 100 {
      ._pt-#{$key}#{$i}px {
        padding-top: #{$i}px !important;
      }

      ._pb-#{$key}#{$i}px {
        padding-bottom: #{$i}px !important;
      }

      ._pr-#{$key}#{$i}px {
        padding-right: #{$i}px !important;
      }

      ._pl-#{$key}#{$i}px {
        padding-left: #{$i}px !important;
      }
    }
  }
}

  
