$screens: (
        '': 0px, sm-: 576px, md-: 768px, lg-: 992px, xl-: 1200px
);

$colors: (
        Black: #000000,
        Navy: #000080,
        DarkBlue: #00008B,
        MediumBlue: #0000CD,
        Blue: #0000FF,
        DarkGreen: #006400,
        Green: #008000,
        Teal: #008080,
        DarkCyan: #008B8B,
        DeepSkyBlue: #00BFFF,
        DarkTurquoise: #00CED1,
        MediumSpringGreen :#00FA9A,
        Lime :#00FF00,
        SpringGreen : #00FF7F,
        Aqua :#00FFFF,
        //Cyan :#00FFFF,
        MidnightBlue :#191970,
        DodgerBlue :#1E90FF,
        LightSeaGreen :#20B2AA,
        ForestGreen :#228B22,
        SeaGreen :#2E8B57,
        DarkSlateGray :#2F4F4F,
        //DarkSlateGrey :#2F4F4F,
        LimeGreen :#32CD32,
        MediumSeaGreen :#3CB371,
        Turquoise :#40E0D0,
        RoyalBlue :#4169E1,
        SteelBlue :#4682B4,
        DarkSlateBlue :#483D8B,
        MediumTurquoise :#48D1CC,
        Indigo :#4B0082,
        DarkOliveGreen :#556B2F,
        CadetBlue :#5F9EA0,
        CornflowerBlue :#6495ED,
        RebeccaPurple :#663399,
        MediumAquaMarine :#66CDAA,
        DimGray :#696969,
        //DimGrey :#696969,
        SlateBlue :#6A5ACD,
        OliveDrab :#6B8E23,
        SlateGray :#708090,
        //SlateGrey :#708090,
        LightSlateGray :#778899,
        //LightSlateGrey :#778899,
        MediumSlateBlue :#7B68EE,
        LawnGreen :#7CFC00,
        Chartreuse :#7FFF00,
        Aquamarine :#7FFFD4,
        Maroon :#800000,
        Purple :#800080,
        Olive :#808000,
        Gray :#808080,
        //Grey :#808080,
        SkyBlue :#87CEEB,
        LightSkyBlue :#87CEFA,
        BlueViolet :#8A2BE2,
        DarkRed :#8B0000,
        DarkMagenta :#8B008B,
        SaddleBrown :#8B4513,
        DarkSeaGreen :#8FBC8F,
        LightGreen :#90EE90,
        MediumPurple :#9370DB,
        DarkViolet :#9400D3,
        PaleGreen :#98FB98,
        DarkOrchid :#9932CC,
        YellowGreen :#9ACD32,
        Sienna :#A0522D,
        Brown :#A52A2A,
        DarkGray :#A9A9A9,
        //DarkGrey :#A9A9A9,
        LightBlue :#ADD8E6,
        GreenYellow :#ADFF2F,
        PaleTurquoise :#AFEEEE,
        LightSteelBlue :#B0C4DE,
        PowderBlue :#B0E0E6,
        FireBrick :#B22222,
        DarkGoldenRod :#B8860B,
        MediumOrchid :#BA55D3,
        RosyBrown :#BC8F8F,
        DarkKhaki :#BDB76B,
        Silver :#C0C0C0,
        MediumVioletRed :#C71585,
        IndianRed :#CD5C5C,
        Peru :#CD853F,
        Chocolate :#D2691E,
        Tan :#D2B48C,
        LightGray :#D3D3D3,
        //LightGrey :#D3D3D3,
        Thistle :#D8BFD8,
        Orchid :#DA70D6,
        GoldenRod :#DAA520,
        PaleVioletRed :#DB7093,
        Crimson :#DC143C,
        Gainsboro :#DCDCDC,
        Plum :#DDA0DD,
        BurlyWood :#DEB887,
        LightCyan :#E0FFFF,
        Lavender :#E6E6FA,
        DarkSalmon :#E9967A,
        Violet :#EE82EE,
        PaleGoldenRod :#EEE8AA,
        LightCoral :#F08080,
        Khaki :#F0E68C,
        AliceBlue :#F0F8FF,
        HoneyDew :#F0FFF0,
        Azure :#F0FFFF,
        SandyBrown :#F4A460,
        Wheat :#F5DEB3,
        Beige :#F5F5DC,
        WhiteSmoke :#F5F5F5,
        MintCream :#F5FFFA,
        GhostWhite :#F8F8FF,
        Salmon :#FA8072,
        AntiqueWhite :#FAEBD7,
        Linen :#FAF0E6,
        LightGoldenRodYellow :#FAFAD2,
        OldLace :#FDF5E6,
        Red :#FF0000,
        Fuchsia :#FF00FF,
        //Magenta :#FF00FF,
        DeepPink :#FF1493,
        OrangeRed :#FF4500,
        Tomato :#FF6347,
        HotPink :#FF69B4,
        Coral :#FF7F50,
        DarkOrange :#FF8C00,
        LightSalmon :#FFA07A,
        Orange :#FFA500,
        LightPink :#FFB6C1,
        Pink :#FFC0CB,
        Gold :#FFD700,
        PeachPuff :#FFDAB9,
        NavajoWhite :#FFDEAD,
        Moccasin :#FFE4B5,
        Bisque :#FFE4C4,
        MistyRose :#FFE4E1,
        BlanchedAlmond :#FFEBCD,
        PapayaWhip :#FFEFD5,
        LavenderBlush :#FFF0F5,
        SeaShell :#FFF5EE,
        Cornsilk :#FFF8DC,
        LemonChiffon :#FFFACD,
        FloralWhite :#FFFAF0,
        Snow :#FFFAFA,
        Yellow :#FFFF00,
        LightYellow :#FFFFE0,
        Ivory :#FFFFF0,
        White :#FFFFFF
);

//Web Safe Colors?
//Many years ago, when computers supported maximum 256 different colors, a list of 216 "Web Safe Colors" was suggested as a Web standard (reserving 40 fixed system colors).
//This 216 hex values cross-browser color palette was created to ensure that all computers would display the colors correctly when running a 256 color palette:
$web-safe-colors: (
        '000000'	'000033'	'000066'	'000099'	'0000CC'	'0000FF'
        '003300'	'003333'	'003366'	'003399'	'0033CC'	'0033FF'
        '006600'	'006633'	'006666'	'006699'	'0066CC'	'0066FF'
        '009900'	'009933'	'009966'	'009999'	'0099CC'	'0099FF'
        '00CC00'	'00CC33'	'00CC66'	'00CC99'	'00CCCC'	'00CCFF'
        '00FF00'	'00FF33'	'00FF66'	'00FF99'	'00FFCC'	'00FFFF'
        330000	330033	330066	330099	3300CC	3300FF
        333300	333333	333366	333399	3333CC	3333FF
        336600	336633	336666	336699	3366CC	3366FF
        339900	339933	339966	339999	3399CC	3399FF
        33CC00	33CC33	33CC66	33CC99	33CCCC	33CCFF
        33FF00	33FF33	33FF66	33FF99	33FFCC	33FFFF
        660000	660033	660066	660099	6600CC	6600FF
        663300	663333	663366	663399	6633CC	6633FF
        666600	666633	666666	666699	6666CC	6666FF
        669900	669933	669966	669999	6699CC	6699FF
        66CC00	66CC33	66CC66	66CC99	66CCCC	66CCFF
        66FF00	66FF33	66FF66	66FF99	66FFCC	66FFFF
        990000	990033	990066	990099	9900CC	9900FF
        993300	993333	993366	993399	9933CC	9933FF
        996600	996633	996666	996699	9966CC	9966FF
        999900	999933	999966	999999	9999CC	9999FF
        99CC00	99CC33	99CC66	99CC99	99CCCC	99CCFF
        99FF00	99FF33	99FF66	99FF99	99FFCC	99FFFF
        CC0000	CC0033	CC0066	CC0099	CC00CC	CC00FF
        CC3300	CC3333	CC3366	CC3399	CC33CC	CC33FF
        CC6600	CC6633	CC6666	CC6699	CC66CC	CC66FF
        CC9900	CC9933	CC9966	CC9999	CC99CC	CC99FF
        CCCC00	CCCC33	CCCC66	CCCC99	CCCCCC	CCCCFF
        CCFF00	CCFF33	CCFF66	CCFF99	CCFFCC	CCFFFF
        FF0000	FF0033	FF0066	FF0099	FF00CC	FF00FF
        FF3300	FF3333	FF3366	FF3399	FF33CC	FF33FF
        FF6600	FF6633	FF6666	FF6699	FF66CC	FF66FF
        FF9900	FF9933	FF9966	FF9999	FF99CC	FF99FF
        FFCC00	FFCC33	FFCC66	FFCC99	FFCCCC	FFCCFF
        FFFF00	FFFF33	FFFF66	FFFF99	FFFFCC	FFFFFF
);

//https://clrs.cc

//https://flatuicolors.com
//Flat UI Palette v1