
//Width in px
@for $i from 0 through 2000 {
  .w-#{$i}px{
    width: #{$i}px !important;
  } 
}

//Width in percent
@for $i from 0 through 100 {
  .w-#{$i}percent{
    width: #{$i}#{'%'} !important;
  } 
}

//Height in px
@for $i from 0 through 2000 {
  .h-#{$i}px{
    height: #{$i}px !important;
  } 
}

//Height in percent
@for $i from 0 through 100 {
  .h-#{$i}percent{
    height: #{$i}#{'%'} !important;
  } 
}

//Font size in px
@for $i from 0 through 500 {
  .f-#{$i}px{
    font-size: #{$i}px !important;
  } 
}

//Font size in pt
@for $i from 0 through 500 {
  .f-#{$i}pt{
    font-size: #{$i}pt !important;
  } 
}

//Font in percent
@for $i from 0 through 100 {
  .f-#{$i}percent{
    font-size: #{$i}#{'%'} !important;
  } 
}

/******************************** Pading ********************************/

//Padding top
@for $i from 0 through 250 {
  .pt-#{$i}px{
    padding-top: #{$i}px !important;
  } 
}

//Padding bottom
@for $i from 0 through 250 {
  .pb-#{$i}px{
    padding-bottom: #{$i}px !important;
  } 
}

//Padding right
@for $i from 0 through 250 {
  .pr-#{$i}px{
    padding-right: #{$i}px !important;
  } 
}

//Padding left
@for $i from 0 through 250 {
  .pl-#{$i}px{
    padding-left: #{$i}px !important;
  } 
}

/******************************** Margin ********************************/
 
//Margin top
@for $i from 0 through 250 {
  .mt-#{$i}px{
    margin-top: #{$i}px !important;
  } 
}

//Margin bottom
@for $i from 0 through 250 {
  .mb-#{$i}px{
    margin-bottom: #{$i}px !important;
  } 
}

//Margin right
@for $i from 0 through 250 {
  .mr-#{$i}px{
    margin-right: #{$i}px !important;
  } 
}

//Margin left
@for $i from 0 through 250 {
  .ml-#{$i}px{
    margin-left: #{$i}px !important;
  } 
} 

//xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px
@media (min-width: 0px) {
  
}

@media (min-width: 576px) {
  
}

@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
  
}

@media (min-width: 1200px) {

}

